.top
  makoto

    -# <!-- <script>
    -#   // 大吉・
    -#   let kujis = ['大吉', '大吉','大吉','大吉','吉','超大吉'];
    -#   // console.log(kujis[0]);
    -#   let kuji = Math.floor(Math.random() * kujis.length);
    -#   // console.lod(kuji);
      
    -#   document.write('<p>あなたの今年の運勢は、 ' + kujis[kuji] +'です</p>');
    -# </script> -->
    -#       <!-- <style>
    -#           body{
    -#             background-color: rgb(33, 156, 119);
    -#           }
    -#           p{
    -#             text-align: center;
    -#             font-size: 2em;
    -#             margin-top: 100px;
    -#           }
    -#       </style> -->